@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5rem;

  * {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
  }
}

header {
  align-items: center;
  background-color: #fb0016;
  border-bottom: 2px solid #000;
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: [a] min-content [b] max-content [c];
  height: 5rem;

  .logo {
    background-image: url(../images/marvel-logo.png);
    height: 50px;
    grid-area: a;
    margin-left: 1rem;
    width: 113px;
  }

  .title {
    border-left: 2px solid #fff;
    color: rgba(255, 255, 255, 1);
    font: 200 1.5rem/3.25rem 'Nunito', sans-serif;
    grid-area: b;
    margin-left: 0.5rem;
    padding: 3px 0 0 0.75rem;
    text-transform: uppercase;
  }

  .search-box {
    display: flex;
    justify-content: flex-end;
    grid-area: c;

    .input-group {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      position: relative;

      input[type=text] {
        border: 1px solid rgba(255, 204, 238, 1);
        border-radius: 1rem;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.75);
        font-size: 1rem;
        line-height: 2rem;
        height: 2rem;
        min-width: 15rem;
        padding: 0.5rem 1.75rem 0.5rem 0.75rem;
        text-transform: lowercase;

        &::placeholder {
          color: rgba(153, 0, 22, 0.5);
        }

        &:focus {
          border: none;
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6), 0 0 3px rgba(255, 255, 255, 0.7);
          padding-left: calc(0.75rem + 1px);
          padding-right: calc(1.75rem + 1px);
        }
      }

      input:focus, button:focus {
        outline: none;
      }

      button {
        background-color: #a00;
        border: none;
        border-radius: 0 1rem 1rem 0;
        color: #fff;
        cursor: pointer;
        height: calc(2rem - 2px);
        mask: url(../images/icons/search.svg) 10px 6px/18px auto no-repeat;
        overflow: hidden;
        position: absolute;
        right: 1px;
        text-indent: -1000px;
        width: 2.25rem;
        top: 1px;
      }
    }
  }
}
